.navbar__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar__item {
    margin-right: 57px;
}

.navbar__link {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
}

.navbar__link:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

// footer
.footer__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__nav-item {
    margin-bottom: 16px;
}

.footer__nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
}

@include breakpoint-down(650px) {
    .navbar__item {
        margin-right: 32px;
    }
    .footer__nav-item {
        margin-bottom: 14px;
    }
}

@include breakpoint-down(450px) {
    .navbar__item {
        margin-right: 24px;
    }
    .navbar__link {
        font-size: 12px;
        line-height: 14px;
    }
}